<router-outlet></router-outlet>
<div class="head">
<input class="input" type="text" placeholder="Search here..." name="input" #input value="" (keyup)="search(input)">

<input class="click"  type="button" (click)='search(input)' value="search">
</div>
  <div class="card" id="avatar">
    <div class="card-header bg-secondary text-white" id="header">
      Username:{{result$.login}}
</div>
<br>

<img src="{{result$.avatar_url}}" class="img-circle img-responsive" alt="{{result$.login}}">

<div class="card-footer bg-dark text-white" id="header">
  Github ID:{{result$.id}}
</div>
</div>
<h3 style="text-align:center;">REPOSITORIES</h3>
<div style="text-align:center;" class="well">


<div  class="repos" *ngFor= "let repo of show$, let i = index">
  <br>
  <div class="card" id="hold">

<div class="card-header">
  <h4>{{show$[i].name}}</h4>
</div>
<div class="card-footer">
  <p>{{show$[i].description}}</p>
</div>


<button class="btn btn-success"><a href='https://github.com/{{result$.login}}/{{show$[i].name}}'>REPOS</a></button>
  </div>
  <br>
</div>
</div>
