/* a{
  color:black;
  text-decoration: none;
}
img {
  border-radius: 50%;
}
.repos{
text-align: center;
padding-left: 400px;
background-color:navy;

}
.card{
  width: 400px;
  padding: 20px;

}
.card-header{
  background-color: lightgreen;

}
 button{
  width:100px;
  margin-left: 130px;
  margin-top: 20px;
}

 button:hover{
   background-color:green;
   transition: 0.6s;
 } */
