<router-outlet></router-outlet>
<h2>({{user.login}})</h2>

<img src="{{user.avatar_url}}" height="100" width="100" class="img-circle img-responsive" alt="{{user.login}}">
{{user.username}}
<h3 style="text-align:center;">PUBLIC REPOSITORIES<small class="label label-default"><em>({{user.public_repos}} Public Repos.)</em></small></h3>
<div class='row'>

  <div class="col-md-4" *ngFor= "let repo of repo">
    <div class="row">

    <div class="card">
      <div class="card-header">
      <h4>{{repo.name}}</h4>
      </div>
        <div class="card-footer">
          <p>{{repo.description}}</p>
          </div>
          <div class="text-center">


      <button class="btn btn-primary"><a href='https://github.com/hamida-mstafa/{{repo.name}}'>REPO</a></button>
</div>
    </div>
    </div>
    <br>
  </div>

</div>
